<div class="jumbotron">
    <h1>Bo Voyage : business service</h1>
    <p class="lead">Vous trouverez ici les web services de la couche métier délivrant toutes les données pour le développement de l'interface.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Liste des voyages</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
    </div>
    <div class="col-md-4">
        <h2>Réservation d'un voyage</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Divers outils</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>
